body{ 
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  color: white;
}
img{
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.grayscale{
  filter: grayscale();
}


body{
  width: 100%;
  cursor:pointer;
}

body.ofthesun{
    background-image: url("ofthesun-sequioa-final.png");
    background-size: contain;
    background-position: right;
    background-repeat: initial;
}
body.ofthesun #domegrid_container, body.ofthesun #domelist_container{
  filter: sepia(0.7);
}

#play-button:before{
    content: '\25BA';
}
#play-button{
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 14px);
  font-size: 40px;
  color: #ffffff;
  opacity: 1.0;
  display: none;
  cursor: pointer;
}
#start-image{
  position: absolute;
  top: calc(50% - 136px);
  left: calc(50% - 136px);
  opacity: 0.3;
}
#start-image .img:hover{
    cursor: pointer;
}
/*
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url("ofthesun-sequioa-final.png");
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/
#domelist_container{
  /*float: right;*/
  margin: auto;
  width: calc(50% - 20px);
  padding: 10px;
  background-color: #000;
}
#domelist{
  width: 100%;
}
#domegrid_container{
  /*float: left;*/
  margin: auto;
  position: fixed;
  width: 50%;
  height: 100%;
  /*padding-top: 50%;*/
  background-color: #000;
}
.grid_cell{
  position: absolute;
  overflow: hidden;
}
.grid_cell .viz{
  height: 100%;
  position: absolute; 
}
#domegrid{
  width: calc(100% - 20px);
  top: 0px;
  height: calc(100% - 20px);
  position: absolute;
  padding: 10px;
}
.audio_list_item{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.audio_list_item, .grid_cell{
  opacity: 0.8;
}
.audio_list_item:hover, .grid_cell:hover{
  opacity:1.0
}
.grid_cell:hover{
  cursor: pointer;
}
.grid_cell_selected {
  z-index:100;
  animation-duration: 2s;
  animation-name: example;
}
/* The animation code */
@keyframes example {
  from {box-shadow: 0px 0px 8px 2px #fff7;}
  to {box-shadow: 0px 0px 8px 2px #fff0;}
}
.audio_list_item.playing{
  opacity: 1.0;
}
.audio_list_item .file_name { 
  position: absolute;
  top: 0px;
  font-size: 8px;
  font-family: monospace;
  background-color: rgba(0,0,0,1.0);
  opacity: 0; /* opacity set to zero*/ 
  overflow: hidden;
  pointer-events: none;
  color: #b7c5ef;
  color: white; 
  z-index:1;
}
.audio_list_item .file_name.show { /*toggle the show class for show/hide*/
  opacity: 1.0;
}
.audio_list_item img{
  width: 100%;
  height: 46px;
  cursor: crosshair;
  /*filter: contrast(1.5);*/
}
.audio_list_item .cursor{
  position: absolute;
  width: 3px;
  background-color: white;
  height: 100%;
  display: none;
  pointer-events: none;
  z-index:3;
}
.audio_list_item.playing .cursor{
  display: block;
}

.audio_list_item .highlighter{
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  opacity: 0.7;
  border: 2px solid white;
  height: calc(100% - 4px);
  display: none;
  z-index:2;
}
.audio_list_item.highlighted .highlighter{
  display: block;
    pointer-events: none;
}
/* class for only showing the top half of the spectrums */
/* for scanning, I think it's not as good on the human visual system as the vertical symmetry */
body.halfsize_spectrums .audio_list_item {
  height: 46px;
}
body.halfsize_spectrums .audio_list_item img.viz_rolloff{
  height: 92px;
}

/* intialize just rolloff */
.audio_list_item .viz{
  display: none;
}
.audio_list_item .viz_rolloff{
  display: block;
}

/* positioning of grid and list containers */
#domelist_container.showing_both_list_and_grid{
  float: right;
}
#domegrid_container.showing_only_grid{
  left: 25%;
}